.birthday-list {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}
