.button {
  display: flex;
  width: 17.5rem;
  height: 3rem;
  padding: 0 2.8125rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: #fefefe;
  box-shadow: 0 2px 4px 0 rgba(20, 130, 204, 0.15);
  border: 0;
  color: #000c;
  cursor: pointer;
  font: inherit;
  margin-bottom: 1rem;

  &:hover {
    background: #c9eefa91;
    border-color: transparent;
  }
}
